# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Python logs
*.log

# MacOS files
.DS_Store

# Uvicorn / FastAPI auto reload files
*.db
*.sqlite3

# Pipenv / Poetry files
Pipfile.lock
poetry.lock

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
